<div class="navigation row" ng-controller="NavbarController">
  <a href="#">
    <div class="link logo">LOGO</div>
  </a>
  <div class="links">

    <!--<a href="#"><div class="link">how it works</div></a>
    <a href="#"><div class="link">collections</div></a>
    <a href="#"><div class="link">lookbook</div></a>-->
    <!--<a ui-sref="login" ng-hide="nav.isLoggedIn()"><div class="link login">Login</div></a>-->


    <a ui-sref="profile" ng-show="nav.isLoggedIn()">
      <div class="link login">{{ nav.getCurrentUser().name }}</div>
    </a>
    <a ui-sref="logout" ng-show="nav.isLoggedIn()" ui-sref="logout">
      <div class="link login">Logout</div>
    </a>
    <a ng-click="nav.toggleModal()" ng-hide="nav.isLoggedIn()">
      <div class="link registration">get started</div>
    </a>
  </div>

</div>
