html {
    padding: 0;
    margin: 0;
}
body {
    height: 100%;
}

.content {
    height: 80%;
    margin: 0 100px 0 100px;
    
}

.home {
    background: url("assets/images/mountains-nature-man-person.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.start {
    color: #839484;
}

.navigation {
    width: 100vw;
    padding: 20px 80px 20px 80px;
}
.navigation .logo {
    display: inline-block;
    width: 180px;
}

.navigation a {
    color: black;
}
.navigation a:visited{
    color: black;
}
.navigation a:hover {
    color: black;
}



.navigation .links {
    display: inline-block;
    margin-right: 2%;
    float: right;
}
.navigation .link {
    display: inline-block;
    width: 110px;
    text-align: center;
    padding: 3px;
}

.navigation .link.logo {
}

.navigation .registration {
    border: 1px solid black;
}

.links button {
}

.small-text {
    font-size: 0.6em;
}

.med-text {
    font-size: 0.7em;
}

.large-text {
    font-size: 1.2em;
}

.sm-pad-bottom {
    padding-bottom: 18px;
}

.hrz-line {
    width: 100%;
    border-bottom: 1px solid black;
}

.page-title {
    width: 12%;
    text-align: center;
    color: black;
    padding: 0.5%;
    font-size: 0.7em;
    border: 1px solid #839484;
    border-top: 0;
}

.decoration-box {
    margin: 10px 0 0 0;
    height: 4px;
    width: 4%;
    background: #e09a96;
}

.dash-title {
    margin: 30px 0 30px 0;
    font-size: 1.2em;
    letter-spacing: 0.1em;
}
