<div class="container-fluid">
  <div class="dashboard row">
    <sidebar dash="true"></sidebar>
    <div class="dashview col-xs-9">
      <div class="hrz-line"></div>
      <div class="page-title text-uppercase">my dashboard</div>
      <div class="decoration-box"></div>
      <div class="dash-title text-uppercase">upcoming trips at a glance/</div>

      <div class="trip" ng-class="{active: trip.active}" ng-repeat="trip in trips track by $index">
        <div class="row">
          <div class="col-xs-offset-1 col-xs-8 trip-info">
            <span class="city-name text-uppercase">{{trip.destination}}</span>
          </div>
          <div class="col-xs-2 trip-info">
            <span class="date">{{trip.departureDate}}</span>
          </div>
          <div class="col-xs-1 trip-info">
            <a class="collapse-button" ng-click="trip.active = !trip.active" ng-hide="trip.active">+</a>
            <a class="collapse-button" ng-click="trip.active = !trip.active" ng-show="trip.active">-</a>
          </div>
        </div>
        <div class="row">
          <div class="weather-widget">
            <div class="weather">
              <p class="city-name text-center text-uppercase">{{trip.destination}}</p>
              <p class="weather-date-text-center">{{trip.departureDate}} - {{trip.returnDate}}</p>
              <hr/>
              <div class="weather-info">
                <img src="assets/images/dash/weather.png"/>
              </div>
            </div>
          </div>
        </div>
        <div class="wardrobe text-uppercase">
          your new york city wardrobe
        </div>
        <div class="inventory ">
          <div class="row">
            <div class="col-xs-2 inventory-title"><p class=" text-uppercase">inventory overview</p></div>
            <div class="col-xs-2">
              <p class="num-clothes">5</p>
              <p class="clothing-type text-uppercase">bottoms</p>
            </div>
            <div class="col-xs-2">
              <p class="num-clothes">8</p>
              <p class="clothing-type text-uppercase">tees</p>
            </div>
            <div class="col-xs-2">
              <p class="num-clothes">4</p>
              <p class="clothing-type text-uppercase">shirts</p>
            </div>
            <div class="col-xs-2">
              <p class="num-clothes">2</p>
              <p class="clothing-type text-uppercase">jackets</p>
            </div>
            <div class="col-xs-2"> ></div>
          </div>
        </div>
        <div class="collections">
          <div class="collection-icon"></div>
          <p class="collection-set text-uppercase text-center">the brooklyn bridge collection</p>
          <p class="collection-creator text-capitalize text-center">created by <span class="orange">ClothesCall</span>
          </p>
          <div class="row">
            <div class="col-xs-5 col-xs-offset-1 clothes-collection">
              <div class="collection-pic"></div>
              <div class="row">
                <div class="col-xs-8 "><p class="collection-brand">nike</p>
                  <p class="collection-type">casual</p></div>
                <div class="col-xs-4 collection-rating"></div>
                <div class="col-xs-10"><p class="collection-name">the nether collection</p></div>
                <div class="col-xs-4"><p class="collection-cloud"></p></div>

              </div>
            </div>
            <div class="col-xs-5 clothes-collection">
              <div class="collection-pic"></div>
              <div class="row">
                <div class="col-xs-8 "><p class="collection-brand">zara</p>
                  <p class="collection-type">casual</p></div>
                <div class="col-xs-4 collection-rating"></div>
                <div class="col-xs-10"><p class="collection-name">the nether collection</p></div>
                <div class="col-xs-4"><p class="collection-cloud"></p></div>
              </div>
            </div>

          </div>
        </div>
        <div class="view-itinerary">
          <button ui-sref="itinerary({id: trip._id})">view full itinerary</button>
        </div>
      </div>


    </div>
  </div>

</div>
