.sidebar ul {
  margin-top: 40%;
  margin-left: 40%;
}

.sidebar {
  background-image: url('../assets/images/upperright_thistle.png');
  background-color: #E9E9E9;
  background-repeat: no-repeat;

  background-position: top left;
  background-size: 66%;
}